/******************************************************************************************************
		Forneden er der nogle justeringer der får boilerplaten til at ligne MAMs design.
******************************************************************************************************/
/*
h1 {
	margin: 40px 0px; 
	line-height: 1em;
}
h2 {
	margin: 30px 0px 20px 0px; 
	line-height: 1em;
}
h4 {
	margin: 0px; 
	line-height: 1em;
}
*/


#btnContainer{
	margin-bottom: 10px;
}

.DropdownContainer{
	display: inline-block;
	/*margin-right: 10px;*/
}

.DropdownContainer .glyphicons{
	font-size: 3em;
	color: #626261;
}

.DropdownIcon{
	margin-top: 20px;
	font-size: 3em;
	color: #626261;
}

.hide{
	display: none;
}

.SourceWrapper{
	padding-left: 0px;
}

.PointFeedback{
	margin-top: 20px;
}