/******************************************************************************************************
		Forneden er der nogle justeringer der får boilerplaten til at ligne MAMs design.
******************************************************************************************************/
/*
h1 {
	margin: 40px 0px; 
	line-height: 1em;
}
h2 {
	margin: 30px 0px 20px 0px; 
	line-height: 1em;
}
h4 {
	margin: 0px; 
	line-height: 1em;
}
*/

.row {
	/*margin-left: 0px;*/
}

.col-xs-12, .col-md-8 {
	/*padding-left: 0px;
	padding-right: 15px;*/
}


.score_container {
	position: inherit;
	display: inline-block;
	margin-left: 15px;
	max-width: 350px; /*Overwrite 300px from styles.css*/
}

.glyphicons{
	margin-left: 14px;
	margin-bottom: 6px;
	margin-right: 10px;
	vertical-align: unset;
}


#btnContainer{
	/*margin-bottom: 10px;*/
	/*margin-left: 15px;*/
	clear: both;  /* Fixes the problem of flowing left of H4.instruktion */ 
}

#btnContainer .btn{
	/*margin-bottom: 10px;*/
}

.DropdownContainer{
	display: inline-block;
	/*margin-right: 10px;*/
	padding-left: 10px;
}

.DropdownContainer .glyphicons{
	font-size: 3em;
	color: #626261;
}

.DropdownIcon{
	margin-top: 20px;
	font-size: 3em;
	color: #626261;
}

.DropdownHeader{
	margin-left: 5px;
	position: relative;
	bottom: 12px;
}

.hide{
	display: none;
}

.SourceWrapper{
	/*padding-left: 0px;*/
}

.PointFeedback{
	margin-top: 20px;
	margin-left: 15px;
}

.textLeft{
	/*float: left;*/
}

.textRight{
	/*float: right;*/
}

.clear{
	/*clear: both;*/
}


select {  /*Fixes the "overflow" of the selects*/
	width: 100%;
}

.htmlHolder{
	margin-left: 15px;
	margin-right: 15px;

	padding-left: 0px;
	padding-right: 30px;
}

.VidHolder{
	padding-left: 0px;
	padding-right: 30px;
}

.item {
	height: 100%;
	width: 100%;
}
.question {
	padding: 0 65px;
}

.columnHeading{
	padding-left: 65px;
	padding-top: 40px; /* 40px afstand */
}

.TextHolder{
	/*margin-bottom: 40px;*/
	padding-bottom: 40px;
	padding-left: 0px;
	padding-right: 0px;
	/*max-height: 200px;
	overflow: auto;*/
}

.carousel-inner{
	background-color: #FFF;
}

/*
#slide_0, #slide_0 .column {
	background-color: #ACEFED;
}

#slide_1, #slide_1 .column {
	background-color: #B5F8D5;
}

#slide_2, #slide_2 .column {
	background-color: #F2B9E1;
}

#slide_3, #slide_3 .column {
	background-color: #FFFF99;
}

#slide_4, #slide_4 .column {
	background-color: #D2D4EC;
}

*/
/***************************    carousel styling   *******************************/

.carousel-inner{
	border-radius: 6px;
	/*padding: 30px 30px 40px 15px;*/
}

#comparativeAnalysis{
	/*margin-left: 15px;*/
	/*background-color: #f00;*/
}

.floatLeft{
	float: left;
}

#comparativeAnalysis_why{
	clear: both;  /* Pga instruksen foer dette element er floatet */
	margin-bottom: 20px;
}

#comparativeAnalysis_why .leftColumn{
	/*margin-left: 20px;*/
	width: 80%;
}


#comparativeAnalysis_why .glyphicon, #comparativeAnalysis_why .glyphicons{
	font-size: 3em;
	color: #626261;

	font-size: 18px;
    font-weight: 600;
    line-height: 1.7;
    margin-left: 15px;
    margin-right: 15px;
    top: 2px;
}

#questionCarousel{
	background-color: #f8f8f6;
}

.slide{
	/*padding-left: 40px;*/   /* Udkommenteringen her flytter pile tilbage ind over indhold */
	/*padding-right: 40px;*/  /* Udkommenteringen her flytter pile tilbage ind over indhold */
}

.carousel{
	border-radius: 8px;
	background-color: #FFF;
}
.carousel .carousel-indicators{
	bottom: -10px;
}
.carousel .carousel-indicators li{
	background-color: #cececc;
	opacity: 0.7;
	height:15px;
	width: 15px;
	margin-right: 5px;
}
.carousel .carousel-indicators li:hover {
	opacity: 1;
}
.carousel .carousel-indicators .active{
	background-color: #000;
	opacity: 0.7;
}
.carousel .carousel-indicators .active:hover {
	opacity: 1;
}
.carousel .left, .carousel .right{
	background-image: none;
	color: #000;
}
.carousel .carousel-control{
	opacity: 0.7;
	text-shadow:none;
	left:15px;
	width:40px;
}
.carousel .carousel-control.right{
	left:auto;
	right:15px;
}
.carousel .carousel-control:hover{
	opacity: 1;
}
.carousel .TextHolder{
	/*margin-bottom: 20px;*/
}

.carousel-control{
	/*width: 20px;*/      /* Udkommenteringen her flytter pile tilbage ind over indhold */
}

.carousel-control .glyphicon{
	font-size: 20px;
	top:50%;
	color:white;
	background-color: #111;
	opacity: 0.7;
	height:40px; 
	width: 40px;
	padding:5px;
	line-height: 30px;
	border-radius: 30px;
	text-align: center;
	display: block;
	text-align: center;
}